.l-inner-details {
    clear: both;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 50px;
    @include breakpoint(large){
        margin-top: 20px;
    }
  
    .details-content {
        .event-title,
        .news-title {
            font-size: 2.2rem;
            color: #0e0e0e;
            margin: 0;
            display: inline-block;
            margin-bottom: 25px;
            font-weight: 500;
            @include breakpoint(large){
                width: 55%;
            }
            &::after {
                content: '';
                width: 40%;
                height: 8px;
                background: $color-primary;
                display: block;
                border-radius: 1em;
                margin-top: 15px;
            }
        }
        .event-img,
        .news-img {
            max-width: 40%;
            float: $left;
            overflow: hidden;
            margin-#{$right}: 20px;
            img {
                width: 100%;
            }
        }
        .details-description {
            margin-top: 0;
            font-size: .98em;
            line-height: 25px;
            text-align: justify;
            p {
                line-height: 28px;
            }
        }
        .event-date .news-date {
            float: $right;
            width: 58.5%;
            margin-bottom: 15px;
            >div {
                display: inline-block;
                margin-#{$right}: 15px;
            }
        }
        .event-date,
        .event-location,
        .event-registration,
        .event-type,
        .event-audience {
            border-bottom: 1px solid #eee;
            margin-bottom: 20px;
            padding-bottom: 20px;
            >span {
                font-weight: 700;
            }
            i.fa {
                display: inline-block;
                margin-#{$right}: 5px;
            }
            .event-startDate,
            .event-endDate {
                display: inline-block;
            }
            .event-startDate {
                margin-#{$right}: 20px;
            }
        }
    }
}

// Events List
.events-list {
    text-align: center;
    .timeline-date {
        position: relative;
        label {
            background: $color-primary;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: rem(18);
            border-radius: 10px;
            padding: 10px 20px;
            font-weight: bold;
            @include breakpoint(large){
                width: 14%;
                padding: 2px 0;
                font-size: rem(28);
            }
        }
        &:before {
            @include breakpoint(large){
                content: "";
                display: inline-block;
                position: absolute;
                top: calc(100% - 33%);
                #{$left}: 47.5%;
                background: $color-primary;
                height: 2.3px;
                width: 5%;
                transform: rotate(90deg);
                z-index: -1;
            }
        }
        &:after {
            @include breakpoint(large){
                content: "";
                display: inline-block;
                position: absolute;
                height: 2.3px;
                width: 40%;
                #{$left}: 50%;
                top: calc(100%);
                background: $color-primary;
            }
        }
    }
    .event-item {
        position: relative;
        margin: 0 auto 0;
        overflow: hidden;
        @include breakpoint(large){
            padding-top: 50px;
            &::before {
                content: "";
                width: 100%;
                display: inline-block;
                height: 2px;
                position: absolute; // background: $color-primary;
                background: linear-gradient(to right, $color-primary 40%, $color-primary 59%, #ffffff 38%, #ffffff 77%, $color-primary 0, $color-primary 100%);
                background: -moz-linear-gradient(to right, $color-primary 40%, $color-primary 59%, #ffffff 38%, #ffffff 77%, $color-primary 0, $color-primary 100%);
                background: -webkit-linear-gradient(to right, $color-primary 40%, $color-primary 59%, #ffffff 38%, #ffffff 77%, $color-primary 0, $color-primary 100%);
                transform: rotate(90deg);
                #{$left}: 40%;
            }
        
            &::after {
                content: "";
                width: 80%;
                display: inline-block;
                height: 2px;
                position: absolute;
                background: $color-primary;
                #{$right}: calc(100% - 90%);
                bottom: 0;
                z-index: 9999;
            }
        }
        .event-description {
            background-color: rgba(255, 255, 255, 0.9);
            position: absolute;
            top: 30%;
            min-height: 220px;
            #{$right}: 10px;
            box-shadow: -15px 0px 40px -5px #f5f5f5;
            width: 30%;
            padding: 40px 50px;
            text-align: $left;
            @include breakpoint(isCommon){
                display: none;
            }
            .event-date {
                font-size: 27px;
                font-weight: 700;
                margin-bottom: 20px;
                span {
                    &:after {
                        content: "";
                        background: $color-primary;
                        height: 8px;
                        width: 18%;
                        display: block;
                        border-radius: 7px;
                        margin-top: 5px;
                        margin-#{$left}: -10px;
                    }
                }
            }
            .event-summary * {
                font-size: 13px !important;
                color: #000 !important;
                margin-top: 20px;
            }
        }
        figure {
            position: relative;
            margin-bottom: 70px;
            a {
                img {
                    width: 100%;
                    height: auto;
                    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                    transform: scale(1);
                    @include breakpoint(large){
                        max-width: 100%;
                        max-height: 100%;
                        box-shadow: -10px 0px 20px 6px #f5f5f5;
                        width: 60%;
                    }
                }
                figcaption {
                    text-align: $left;
                    padding: 15px;
                    background: rgba(0, 0, 0, 0.52);
                    @include breakpoint(large){
                        padding: 1rem 3rem 2.2rem;
                        background: transparent;
                        position: absolute;
                        #{$left}: 20%;
                        width: 60%;
                        bottom: 0;
                    }
                    .event-title {
                        font-size: rem(16);
                        color: #fff;
                        font-weight: 700;
                        @include breakpoint(large){
                            font-size: rem(25);
                        }
                    }
                    .event-location {
                        color: #fff;
                        font-size: rem(14);
                        @include breakpoint(large){
                            font-size: rem(17);
                        }
                    }
                }
                &:hover {
                    img {
                        transform: scale(1.02);
                    }
                }
            }
        }
    }
    li[class*=item] {
        &:nth-child(even) {
            .event-item {
                &::before {
                    #{$right}: 40%;
                    #{$left}: auto;
                }
                .event-description {
                    #{$left}: 10px;
                    box-shadow: 15px 0px 40px -5px #f5f5f5;
                }
                figcaption {
                    @include breakpoint(large){
                        padding: 1rem 11rem 2.2rem 0;
                    }
                }
            }
        }
        &:last-child() {
            .event-item {
                &::before {
                    bottom: 40%;
                    background: linear-gradient(to right, $color-primary 0%, $color-primary 38%, #ffffff 38%, #ffffff 70%);
                    background: -webkit-linear-gradient(to right, $color-primary 0%, $color-primary 38%, #ffffff 38%, #ffffff 70%);
                    background: -moz-linear-gradient(to right, $color-primary 0%, $color-primary 38%, #ffffff 38%, #ffffff 70%);
                }
                &::after {
                    display: none;
                }
            }
        }
    }
}

.rating-section {
    >span {
        display: inline-block;
    }
    .ms-comm-ratingSeparator{
        border-left: 0;
    }
    .ms-comm-ratingCountContainer{
        vertical-align: baseline;
    }
}

