.icon {
    display: inline-flex;
    padding: $icons-padding;
    border-radius: 50%;
    @include transition();

    > svg {
        fill: rgba(#000, .54);
        width: 18px;
        height: 18px;
        @include breakpoint(small){
            width: 24px;
            height: 24px;
        }
    }

    &:hover {
        background-color: rgba(#000, .2);
        > svg{
            fill: rgba(#000, .54);
        }
    }
}