.main-header {
    background-color: $header-bg;
    padding: $header-padding;
    box-shadow: 0 1px 3px 1px rgba(255, 255, 255, 0.28); 
    background: rgba(255, 255, 255, 0.1);
    &--absolute,
    &--fixed {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: $header-z-index;
    }
    &--fixed {
        position: fixed;
    }
}

.main-header--light {
    color: #fff;
    svg,
    .icon > svg{
        fill: #fff;
    }
    .nav-bar__menu-link{
        color: #fff;
    }
    .nav-bar__secondary-menu .nav-bar__menu-item + .nav-bar__menu-item:before {
        background-color: #fff;
    }
}

.main-header__container {
    display: flex;
    align-items: center; // justify-content: space-between;
}

.main-header__logo {
    margin: 0;
    display: flex;
    img{
        @include breakpoint(isMobile){
            width: 160px;
        }
    }
}

.main-header__responsive-icon {
    margin-#{$right}: 10px;
    z-index: $overlay-z-index+10;
    position: relative;
}

.main-header__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .54);
    opacity: 0;
    visibility: hidden;
    z-index: $overlay-z-index;
}

@include breakpoint(small) {
    .main-header__responsive {
        display: none;
    }
}

@include breakpoint(isMobile) {
    .main-header__container {
        justify-content: space-between;
    }
}

.main-header--open {
    .main-header__responsive-icon {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .main-header__overlay {
        opacity: 1;
        visibility: visible;
    }
    .nav-bar--responsive {
        transform: translateX(0);
    }
}



.site-beta{
    background: #fecd08;
    color: #000;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 50%;
    right: auto;
    padding: 3px 30px;
    transform: translate(-50%, 0);
    @include breakpoint(small){
        right: 0;
        left: auto;
        padding: 5px 40px;
        transform: rotate(45deg) translate(44px, -20px);
    }
}