$links-margin: 10px !default;
.welcome-links {
    box-shadow: 0px 7px 70px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(#fff, .35);
    background-color: rgba(12, 12, 12, 0.15);
    width: calc(50% - 1px - 2*#{$links-margin});
    height: 160px;
    margin: 10px;
    padding: 1em;
    display: flex;
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;
    flex-wrap: wrap;
    align-items: center;
    @include breakpoint(isMobile) {
        height: 100px;
    }
    &:hover {
        text-decoration: none;
    }
}

.welcome-links__wrapper {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(large) {
        margin: 0 -#{$links-margin};
    }
}

.welcome-links__icon {
    width: 30px;
    height: 30px;
    fill: $color-primary;
    @include breakpoint(small){
        width: 55px;
        height: 55px;
    }
    @supports (margin-inline-end: 1em) {
        margin-inline-end: 1em;
    }
    @supports not (margin-inline-end: auto) {
        margin-#{$left}: 1em;
    }
}

.welcome-links__title {
    display: inline-flex;
    flex-direction: column;
    color: #fff;
    font-size: rem(16);
    @include breakpoint(small){
        font-size: rem(20);
    }
}

.welcome-links--lg {
    justify-content: center;
    .welcome-links__title {
        font-size: rem(20);
        @include breakpoint(small){
            font-size: rem(25);
        }
    }
    strong {
        font-size: rem(28);
        @include breakpoint(small){
            font-size: rem(32);
        }
    }
    .welcome-links__icon {
        width: 55px;
        height: 55px;
        @include breakpoint(small){
            width: 85px;
            height: 85px;
        }
    }
}