.l-discover-aseer{
    background: url('#{$img-path}/aseer landscape.jpg') no-repeat center center;
    background-size: cover;
    padding-bottom: 4vh;
    .swiper-slide{
        @include scale(0.8);
        @include transition();
    } 
    
    .swiper-slide-active{
        @media(min-width: $screen-lg - 1){
            transform: scale(1.1);
        }
    }
    .card__image > img{
        max-height: 57vh;
    }
}
.l-discover__bottom{
    margin-top: auto;

    @include breakpoint(isMobile){
        margin-top: 50px;
    }
}


.l-discover-aseer{
    .swiper-slide:not(.swiper-slide-active){
        .card__content{
            align-items: baseline;
            justify-content: flex-end;
        }
        .card__brief,.card__action{
            display: none;
        }
    }
}