.l-featured-pages {
    background: url("#{$img-path}/mountains-opacity.jpg") no-repeat #{$left} bottom;
    position: relative;
    @include breakpoint(isCommon) {
        background-size: 50%;
    }
    .l-home-section {
        padding-top: 15vh;
        @include breakpoint(isCommon) {
            padding: 20px;
        }
    }
    .l-home-title {
        margin-bottom: 6vh;
    }
    .main-title,
    .article__title {
        font-weight: 700;
    }
}

.l-featured__images {
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 90vh;
    height: 90vh;
    @include breakpoint(isMobile) {
        max-height: 46vh;
    }
}

.l-featured__primary-image {
    box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.14);
    max-width: 80%;
    max-height: 100%;
    filter: saturate(50%);
}

.l-featured__secondary-image {
    box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.22);
    position: absolute;
    bottom: 0;
    #{$right}: 0;
    max-width: 400px;
    max-height: 225px;
    filter: grayscale(100%);
    @if($dir == rtl){
        transform: translate(-30%, 20%);
    }
    @else{
        transform: translate(30%, 20%);
    }
}
.l-featured__figures{
    @include breakpoint(isCommon){
        display: none;
    }
}
.l-featured__bottom {
    padding-bottom: 20px;
    @include breakpoint(large){
        position: absolute;
        bottom: 15vh;
        left: 0;
        right: 0;
        z-index: 10;
        padding-bottom: 0;
    }
}