.l-home-grid{
    margin-top: 30px;
    max-width: 1140px;
}
.l-home-cell{
    margin-bottom: 20px;
    &--white{
        background-color: rgba(#fff, 0.5);
    }
    &--green{
        background-color: rgba(#2A582B, 0.5);
    }
    &--orange{
        background-color: rgba(#b17c1b, 0.5);
    }
    &--darkred{
        background-color: rgba(#711616, 0.5);
    }
    &--brown{
        background-color: rgba(#523c3c, 0.5);
    }
    &--darkorange{
        background-color: rgba(#a26316, 0.5);
    }
}
