.l-ideas {
    background: url("#{$img-path}/ideas-bg--#{$dirInv}.png") no-repeat #{$right} bottom,
    url("#{$img-path}/ideas-pattern.png") no-repeat #{$left} top;
    padding-top: 10vh;
    background-size: auto 97%, auto;
    @include breakpoint(isCommon) {
        padding-top: 4vh;
        background: none;
    }
}

.l-ideas__title {
    font-size: rem(38);
    color: $color-text;
    margin-bottom: 20px;
    &--light {
        color: #fff;
    }
}

.l-ideas__description {
    font-size: rem(16);
    color: $color-text;
    line-height: 1.6;
    &--light {
        color: #fff;
    }
}

.l-ideas__actions {
    margin-top: 5vh;
    display: flex; // justify-content: center;

    @include breakpoint(isMobile){
        display: block;
    }

    >.button+.button {
        @supports (margin-inline-start: 20px) {
            margin-inline-end: 20px;
        }
        @supports (margin-inline-start: 20px) {
            margin-#{$left}: 20px;
            @include breakpoint(isMobile){
                margin-#{$left}: 0;
            }
        }
    }

    a.button{
        @include breakpoint(isMobile){
            display: block;
            width: 100%;
            margin-#{$left}: 0;
            margin-bottom: 15px;
            font-size: 1.4rem
        }
    }
}

.l-ideas__details {
    display: flex;
    margin-top: 10vh;
    @include breakpoint(isMobile){
        display: block;
    }
}